# Virtual Env
/env/
# Cache
*__pycache__/
# Data Base
/app/database.db
# Fotos
*.jpg
*.png
*.jpeg
# Pasta Treino
#/01_project_model/train/
# Model (muito pesado) - Para mandar para o Github tive que mandar separadamente manualmente
/01_project_model/*.h5
